@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

:root {
  --main-Color: #4163f7;
  --hover-Color: #2b52ff;
  --text-Color: #607d8b;
  --background-Color: #ffff;
}

/* ---------------------Login--------------- */

.loginSignupSection {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.loginSignupSection .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 200px;
}
.loginSignupSection .imgBx img {
  width: 90%;
}

.loginSignupSection .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
}

.loginSignupSection .contentBx .formBx {
  width: 50%;
}

.loginSignupSection .contentBx .formBx .active {
  border-bottom: 4px solid var(--main-Color);
}

.loginSignupSection .contentBx .formBx h2 {
  cursor: pointer;
  color: var(--text-Color);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
  letter-spacing: 1px;
  margin-right: 20px;
}
.loginSignupSection .contentBx .formBx h2 a {
  color: var(--text-Color);
  text-decoration: none;
}

.loginSignupSection .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}

.loginSignupSection .contentBx .formBx .inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: var(--main-Color);
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.loginSignupSection .contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid var(--text-Color);
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--text-Color);
  background: transparent;
  border-radius: 30px;
}

.loginSignupSection .contentBx .formBx .inputBx input[type="submit"] {
  background: var(--main-Color);
  color: var(--background-Color);
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.loginSignupSection .contentBx .formBx .inputBx input[type="submit"]:hover {
  background: var(--hover-Color);
}

.loginSignupSection .contentBx .formBx .inputBx p {
  color: var(--text-Color);
}

.loginSignupSection .contentBx .formBx .inputBx p a {
  color: var(--main-Color);
}

.gifImage {
  position: absolute;
  display: none;
  width: 130px;
}
.gifImage1 {
  top: 0;
  left: 0;
}
.gifImage2 {
  bottom: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .loginSignupSection .contentBx .formBx {
    width: 70%;
  }
  
  .logo{
    margin-top: 6rem;
    width: 20rem;
  }
}

@media (max-width: 850px) {
  .gifImage {
    display: block;
  }
  .loginSignupSection .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .loginSignupSection .contentBx {
    background: var(--background-Color);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .loginSignupSection .contentBx .formBx {
    width: 100%;
    width: 80%;
    padding: 40px;
    margin: 50px;
  }
  .logo{
    margin-top: 5rem;
    width: 10rem;
  }
}

@media (max-width: 600px) {
  .loginSignupSection .contentBx .formBx {
    width: 100%;
    padding: 40px;
    margin: 50px;
  }
  
  .logo{
    margin-top: 4rem;
    width: 13rem;
  }
}

@media (max-width: 500px) {
  .gifImage {
    width: 25vw;
  }
  
  .logo{
    margin-top: 2rem;
    width: 10rem;
  }
}
/* ---------------- Nav Bar ------------- */

nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px 20px 5px 20px;
  border-bottom: 1.5px solid #000;
  margin-bottom: 70px;
}


nav img{
  width: 120px;
}
/* ----------------Dashboard------------- */

.dashboardSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dashboard-content-table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 90vw;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.dashboard-content-table thead tr {
  background-color: var(--main-Color);
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.dashboard-content-table thead th {
  padding: 8px;
}

.actionsTh{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsTh *{
  margin-right: 20px;
  margin-left: 20px;
}

.dashboard-content-table td {
  padding: 12px 15px;
}

.dashboard-content-table tbody tr {
  border-bottom: 1px solid #dddd;
}

.dashboard-content-table tbody {
  color: var(--text-Color);
}

.dashboardUnPaid {
  width: 5vw;
  background-color: rgb(255, 71, 71);
  color: #ffff;
}

.dashboardPaid {
  width: 5vw;
  background-color: rgb(66, 122, 66);
  color: #ffff;
}

.dashboardTableBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboardTableBtn button {
  outline: none;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.dashboardTableDelete {
  background-color: rgb(255, 126, 126);
}
.dashboardTableUpdate {
  background-color: rgb(94, 129, 94);
}


.dahsboardForm{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dahsboardForm div{
  padding: 10px;
}

.dahsboardForm p{
  text-align: center;
  padding: 7px;
  font-weight: bold;
  color: var(--background-Color);
  background-color:var(--main-Color);
  border-radius: 10px 10px 0px 0px;
}

.dahsboardForm input{
  margin-top: 5px;
  padding: 5px;
  border-radius: 15px;
  outline: none;
  border: 2px solid var(--text-Color);
}

.dahsboardForm button{
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  font-weight: 500;
  color: #ffff;
  cursor: pointer;
  background-color: var(--main-Color);
  outline: none;
  border: none;
}